@model Szkolenie3Projekt.Services.DTOs.BookAddDto

@{
    ViewData["Title"] = "Create";
}

<h1>Add book</h1>
@{ 
    var noAuthors = (bool)ViewData["NoAuthors"] ? true : false;
}
<hr />
@if (!noAuthors)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReleaseDate" class="control-label"></label>
                    <input asp-for="ReleaseDate" class="form-control" type="date" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Score" class="control-label"></label>
                    <input asp-for="Score" class="form-control" />
                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorsIds" class="control-label"></label>
                    <select asp-for="AuthorsIds" class="form-control" asp-items="ViewBag.AuthorId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
@if (noAuthors)
{
    <div>
        <div class="text-danger">Cannot add book without authors in system.</div>
        <a asp-action="Create" asp-controller="Authors">Add author</a>
    </div>
    <hr />
}

<div>
    <a asp-action="Index">Back to books list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
