@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Project for Szkolenie Techniczne 3 by Kamil Bularz</p>
    <h3><a asp-action="Index" asp-controller="Books">Books</a></h3>
    <h3><a asp-action="Index" asp-controller="Authors">Authors</a></h3>
</div>
